.FooterBody
  .FooterBody__Info
    .FooterBody__Info__List
      お問い合わせ
    .FooterBody__Info__List
      利用規約
    .FooterBody__Info__List
      プライバシーポリシー
  .FooterBody__CopyRight
    ©️ 2020 Buddy inc