$main-color:#0e55d0;
$sub-main-color:#11a4ff;
$accent-color:#c60000cb;
$bass-font-color:#333333;
$header-font-color:#dddddd;
$content-font-color:#1e222b;
$content-background-color:#f8faff;
$content-border:#999999;
$category-menu:#112956c3;
$category-menu-border-btm: #09152dbb;
$signup-background-color:#e3e3e3;
$require-font-color:#ebebeb;
