.ToppageBody

  .ToppageBody__Content
    .ToppageBody__Content__Upper
      .ToppageBody__Content__Upper--Icon
        = image_tag 'human.png', class: 'Icon'
      .ToppageBody__Content__Upper--Name
        =link_to '#', class:'ContentLink' do
          ゲストさん
    .ToppageBody__Content__Image
      =image_tag 'equip.jpg', class: 'ContentPhoto'
    .ToppageBody__Content__Under
      .ToppageBody__Content__Under__TextArea
        この楽器ご存知ですか？
      .ToppageBody__Content__Under__LikeArea
        .ToppageBody__Content__Under__LikeArea--Icon
          =icon('far','heart')
        .ToppageBody__Content__Under__LikeArea--Count
          130

  .ToppageBody__Content
    .ToppageBody__Content__Upper
      .ToppageBody__Content__Upper--Icon
        = image_tag 'human.png', class: 'Icon'
      .ToppageBody__Content__Upper--Name
        =link_to '#', class:'ContentLink' do
          ゲストさん
    .ToppageBody__Content__Image
      =image_tag 'equip.jpg', class: 'ContentPhoto'
    .ToppageBody__Content__Under
      .ToppageBody__Content__Under__TextArea
        この楽器ご存知ですか？
      .ToppageBody__Content__Under__LikeArea
        .ToppageBody__Content__Under__LikeArea--Icon
          =icon('far','heart')
        .ToppageBody__Content__Under__LikeArea--Count
          130

  .ToppageBody__Content
    .ToppageBody__Content__Upper
      .ToppageBody__Content__Upper--Icon
        = image_tag 'human.png', class: 'Icon'
      .ToppageBody__Content__Upper--Name
        =link_to '#', class:'ContentLink' do
          ゲストさん
    .ToppageBody__Content__Image
      =image_tag 'equip.jpg', class: 'ContentPhoto'
    .ToppageBody__Content__Under
      .ToppageBody__Content__Under__TextArea
        この楽器ご存知ですか？
      .ToppageBody__Content__Under__LikeArea
        .ToppageBody__Content__Under__LikeArea--Icon
          =icon('far','heart')
        .ToppageBody__Content__Under__LikeArea--Count
          130
